<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movie.mapper.CoverMapper" >
  <resultMap id="BaseResultMap" type="com.movie.model.Cover" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="first" property="first" jdbcType="INTEGER" />
    <result column="second" property="second" jdbcType="INTEGER" />
    <result column="third" property="third" jdbcType="INTEGER" />
    <result column="forth" property="forth" jdbcType="INTEGER" />
    <result column="fifth" property="fifth" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, first, second, third, forth, fifth
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Cover
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Cover
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.movie.model.Cover" >
    insert into Cover (id, first, second, 
      third, forth, fifth
      )
    values (#{id,jdbcType=INTEGER}, #{first,jdbcType=INTEGER}, #{second,jdbcType=INTEGER}, 
      #{third,jdbcType=INTEGER}, #{forth,jdbcType=INTEGER}, #{fifth,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.movie.model.Cover" >
    insert into Cover
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="first != null" >
        first,
      </if>
      <if test="second != null" >
        second,
      </if>
      <if test="third != null" >
        third,
      </if>
      <if test="forth != null" >
        forth,
      </if>
      <if test="fifth != null" >
        fifth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="first != null" >
        #{first,jdbcType=INTEGER},
      </if>
      <if test="second != null" >
        #{second,jdbcType=INTEGER},
      </if>
      <if test="third != null" >
        #{third,jdbcType=INTEGER},
      </if>
      <if test="forth != null" >
        #{forth,jdbcType=INTEGER},
      </if>
      <if test="fifth != null" >
        #{fifth,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.movie.model.Cover" >
    update Cover
    <set >
      <if test="first != null" >
        first = #{first,jdbcType=INTEGER},
      </if>
      <if test="second != null" >
        second = #{second,jdbcType=INTEGER},
      </if>
      <if test="third != null" >
        third = #{third,jdbcType=INTEGER},
      </if>
      <if test="forth != null" >
        forth = #{forth,jdbcType=INTEGER},
      </if>
      <if test="fifth != null" >
        fifth = #{fifth,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.movie.model.Cover" >
    update Cover
    set first = #{first,jdbcType=INTEGER},
      second = #{second,jdbcType=INTEGER},
      third = #{third,jdbcType=INTEGER},
      forth = #{forth,jdbcType=INTEGER},
      fifth = #{fifth,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>